body {
  font-family: "Courier New", Courier, monospace;
}

.user-card {
  color: white;
  background-color: #262626;
  border-radius: 5px;
  height: 230px;
  width: 400px;
  margin: 10px auto;
  padding: 1rem;
}

.green-circle {
  background-color: green;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  float: right;
}

.red-circle {
  background-color: red;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  float: right;
}
